.chartSection {
  background: white;
  padding: 24px;
  border-radius: 8px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  margin-bottom: 24px;
}

.statsRow {
  display: grid;
  max-width: 75%;
  grid-template-columns: repeat(4, 1fr);
  gap: 32px;
  padding-bottom: 24px;
}

.statItem {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.statLabel {
  font-size: 16px;
  color: var(--text-secondary);
  font-weight: 400;
}

.statValue {
  font-size: 28px;
  font-weight: 600;
  color: var(--text-primary);
}

.chartContent {
  display: grid;
  grid-template-columns: 1fr 320px;
  gap: 32px;
}

.chartWrapper {
  flex: 1;
  border-top: 1px solid #f0f0f0;
  padding-top: 24px;
}

.additionalStats {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  padding: 20px;
  background: #fafafa;
  border-radius: 8px;
  align-content: center;
}

.additionalStat {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.additionalStatLabel {
  font-size: 16px;
  color: var(--text-secondary);
  font-weight: 400;
}

.additionalStatValue {
  font-size: 20px;
  font-weight: 600;
  color: var(--text-primary);
}
